.container{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    position:fixed;
    left: 92%;
    top: 88%;
    background-color: white;
    color: black;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 0;
    border: 1px solid black;
}
.image{
    width: 65%;
    height: 65%;
}
.chat{
    width: 21%;
    height:48%;
    position:fixed;
    left: 74%;
    top: 44%;
    background-color: white;
    color: black;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border: 0;
    border-radius: 15px;
    background-color: #212121;
}
.chat_topDiv{
    width: 100%;
    height: 14%;
    background-color:#171717 ;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.chat_topDiv_left{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  
}
.closeButton{
    margin-right: 1rem;
    background: none;
    border: 0;
    cursor: pointer;
}
.assistantImage{
    margin-left: 1rem;
    border-radius: 50%;
}
.assistantLogo{
    border-radius: 50%;
}
.assistantName{
    margin-left: 0.8rem;
    color: white;
    font-size: 1.2rem;
}
.chat_middleDiv{
    width: 100%;
    height: 72%;
    background-color: transparent;
    overflow: auto;
}
.chat_bottomDiv{
    width: 100%;
    height: 14%;
    background-color:#171717 ;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.chat_bottomDiv_textInput{
    width: 88%;
    border: 1px solid white;
    height: 65%;
    border-radius: 40px;
}
.textInput{
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background-color: white;
    border: 0;
    padding-left: 1rem;
    color: black;
}
.chat_middleDiv_body{
    width: 80%;
   
    margin-left: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: row;
}
.chat_middleDiv_subbody{
    margin-left: 0.5rem;
    height: 100%;
    min-width:auto;
    max-width: 80%;
    border: 1px solid white;
    text-align: left;
    font-size: 0.9rem;
    line-height: 1.4rem;
    padding: 8px;
    border-radius: 10px;
    background-color: #419C70;
}