@media screen and (min-width: 769px){ 
    .container{
        width: 100vw;
        min-height: 100vh;
        font-family: 'Inter';
        background-color: white;
    }
    .topDiv{
        width: 100vw;
        height: 75vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url('../public/office.jpeg');
        object-fit: cover;
        background-repeat: no-repeat;
        background-size: cover;
        
        
    
    }

    .newsDiv{
        width: 100vw;
        height: 205vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: black;
    }
    .newsDiv_top{
        margin-top: 2.5rem;
        font-size: 2rem;
        text-align: center;
    }
    .newsDiv_top_header{
        font-weight: 500;
    }
    .newsDiv_top_paragraph{
        margin-top: 1.5rem;
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .newsDiv_photoFrame{
        width: 100%;
        margin-top: 4rem;
        height: 70vh;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .newsDiv_photoFrame_photo{
        width: 70%;
        height: 100%;
        border: 1px solid black;
        border-radius: 10px;
    }
    .newsDiv_photoFrame_paragraph{
        width: 70%;
        margin-top: 0.8rem;
    }
    .newsDiv_formFrame{
        width: 100%;
        margin-top: 6rem;
        height: 65vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .newsDiv_formFrame_form{
        width: 70%;
        height: 100%;
        border: 1px solid black;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        
    }
    .form_left{
        width: 45%;
        height: 100%;
        background-color: rgb(0, 0, 0,0.05);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .form_left_body{
        width: 90%;
        height: 90%;
    
    }
    .form_left_header{
        font-weight: 500;
        font-size: 2rem;
    }
    .form_left_paragraph{
        line-height: 1.6rem;
        margin-top: 1rem;
        font-size: 1.2rem;
    }
    .form_right{
        width: 55%;
        height: 100%;
    }
    .form_right_photo{
        width: 100%;
        height: 100%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    /* form left divided into top and bottom */
    .form_left_top{
        width: 100%;
        height: 25%;
    
    }
    .form_left_bottom{
        width: 100%;
        height: 75%;
    
    }
    /* div for first name heading, last name heading, first name input, last name input*/
    .form_left_name{
        width: 100%;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 18%;

    }
    /* first name, last name heading */
        .form_left_name_top{
            width: 100%;
            display: flex;
            flex-direction: row;
        
        }
        .form_left_first_name{
            width: 50%;
        }
        .form_left_last_name{
            width: 50%;
        }

    /* first name input, last name input */
    .form_left_name_bottom{
        margin-top: 0.5rem;
        width: 100%;
        display: flex;
        flex-direction: row;
    
        height: 55%;

    }
    .form_left_first_input{
        width: 50%;
        
    }
    .form_left_last_input{
        width: 50%;
    }

    .nameInput{
        width: 80%;
        background-color: white;
        border: 1px solid black;
        height: 100%;
        border-radius: 10px;
        padding-left: 5px;
        margin-left: 0.25rem;
        color: black;
    }

    /* email heading, input */

    .form_left_email{
        margin-top: 1rem;
        height: 18%;
    }
    .emailInput{
        margin-top: 0.5rem;
        margin-left: 0.25rem;
        padding-left: 5px;
        width: 90%;
        height:55%;
        border: 1px solid black;
        background-color: white;
        border-radius: 10px;
        color: black;
    }

    .form_left_message{
        margin-top: 1rem;
        width: 100%;
        height: 35%;
    
    }
    .messageInput{
        margin-left: 0.25rem;
        margin-top: 0.5rem;
        width: 90%;
        height: 70%;
        border: 1px solid black;
        background-color: white;
        border-radius: 10px;
        resize: none;
        color: black;
        padding-left: 5px;
        padding-top: 5px;
        font-family: "Inter";
    }

    .form_left_submit{
        width: 100%;
        margin-top: 1rem;
        height: 11%;
        
    }
    .submitButton{
        margin-left: 0.5rem;
        width: 90%;
        height: 100%;
        border-radius: 10px;
        border: 0;
        background-color: black;
        font-size: 1.2rem;
        cursor: pointer;
    }
}
@media screen and (max-width: 769px){
    .container{
        width: 100vw;
        min-height: 100vh;
        font-family: 'Inter';
        background-color: white;
    }

    .topDiv{
        width: 100vw;
        height: 75vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url('../public/office.jpeg');
        object-fit: cover;
        background-repeat: no-repeat;
        background-size: cover;
        
    }

    .newsDiv{
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: black;
    }

    .newsDiv_top{
        margin-top: 2.5rem;
        font-size: 2rem;
        text-align: center;
    }

    .newsDiv_top_header{
        font-weight: 500;
    }

    .newsDiv_top_paragraph{
        margin-top: 1.5rem;
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: center;
    }

    .newsDiv_photoFrame{
        width: 100%;
        margin-top: 4rem;
        height: 40vh;
        
        display: flex;
        flex-direction: column;
        align-items: center; 
      
        
    }

    .newsDiv_photoFrame_photo{
        width: 95%;
        height:70%;
        border: 1px solid black;
        border-radius: 10px;
    }
    .newsDiv_photoFrame_paragraph{
        width: 95%;
        margin-top: 0.8rem;
        font-size: 1.2rem;
    }

    .newsDiv_formFrame{
        width: 100%;
        margin-top: 2rem;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      
        margin-bottom: 2rem;
    }

    .newsDiv_formFrame_form{
        width: 90%;
        height: 100%;
       
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        
    }
    .form_left{
        width: 100%;
        height: 60%;
        background-color: rgb(0, 0, 0,0.05);
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
       
    }

    .form_left_paragraph{
        line-height: 1.6rem;
        margin-top: 1rem;
        font-size: 1.2rem;
    }

    .form_left_top{
       
        width: 100%;
        height: 35%;
        text-align: center;
       
       
    }

    .form_left_header{
        margin-top: 1.5rem;
        font-weight: 500;
        font-size: 2rem;
    }

    .form_left_bottom{
        width: 100%;
        height: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }

    .form_left_name{
        width: 100%;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 18%;
       

    }
    .form_left_name_top{
        width: 100%;
        display: flex;
        flex-direction: row;
        padding-left: 0.5rem;
    
    }
    .form_left_first_name{
        width: 50%;
    }
    .form_left_last_name{
        width: 50%;
    }

    .form_left_name_bottom{
        margin-top: 0.5rem;
        width: 100%;
        display: flex;
        flex-direction: row;
    
        height: 65%;
        padding-left: 0.5rem;

    }

    .form_left_first_input{
        width: 50%;
        
    }

    .form_left_last_input{
        width: 50%;
    }

    .nameInput{
        width: 80%;
        background-color: white;
        border: 1px solid black;
        height: 100%;
        border-radius: 10px;
        padding-left: 5px;
        margin-left: 0.25rem;
        color: black;
    }

    .form_left_email{
        width:100%;
        margin-top: 1rem;
        height: 18%;
        padding-left: 0.5rem;
    }

    .emailInput{
        margin-top: 0.5rem;
        margin-left: 0.25rem;
        padding-left: 5px;
        width: 90%;
        height: 65%;
        border: 1px solid black;
        background-color: white;
        border-radius: 10px;
        color: black;
    }


    .form_left_message{
        margin-top: 1.5rem;
        width: 100%;
        height: 35%;
        padding-left: 0.5rem;
    
    }

    .messageInput{
        margin-left: 0.25rem;
        margin-top: 0.5rem;
        width: 90%;
        height: 70%;
        border: 1px solid black;
        background-color: white;
        border-radius: 10px;
        resize: none;
        color: black;
        padding-left: 5px;
        padding-top: 5px;
        font-family: "Inter";
    }

    .form_left_submit{
        width: 100%;
        margin-top: 1rem;
        height: 12.5%;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .submitButton{
       
        width: 90%;
        height: 100%;
        border-radius: 10px;
        border: 0;
        background-color: black;
        font-size: 1.2rem;
        cursor: pointer;
    }











    .form_right{
        width: 100%;
        height: 40%;
    }

    .form_right_photo{
        width: 100%;
        height: 100%;
       border-bottom-left-radius: 12px;
       border-bottom-right-radius: 12px;
    }
    
}