.galleryContainer {
    margin-top: 1rem; 
  
    display: flex;
    align-items:center;
    flex-direction: row-reverse;
    position: relative;
    
    width: 100%;
    height: 95%;
    overflow: hidden;
   
}

.gallery{
    display: flex;
    flex-direction: row;
 
   
    margin: 0 40px;
   
    min-width:100%;
    height: 100%;
    overflow-x: auto;
    
    
   
}
.gallery_body{
    height: 100%;
    width: 84%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}
.galleryImage{
   
   
   
   height: 100%;
   min-width: 100%;
   border-radius: 10px;
   object-fit: cover;
   transition: transform 0.2s ease;
   cursor: pointer;
}
.galleryName{
    position: absolute;
    left: 5%;
    color: white;
    top: 90%;
    font-size: 1.2rem;
}
.galleryImage:hover{
   
   object-fit: cover;
  
  
}
.gallery::-webkit-scrollbar{
    display: none;
}
.gallery_body::-webkit-scrollbar{
    display: none;
}
.galleryImage_div:first-child{
    margin-left: 18%;
}
.galleryImage_div{
    height: 100%;
    min-width: 22%;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.scrollButton{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.scrollButton.left{
    left: 0;
}
.scrollButton.right{
    right: 0;
}