@media screen and (min-width : 769px){
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   
    min-height: 100vh;
    min-width: 100vw;
    background-color: white;
  
  }
  
  .description {
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    font-size: 0.85rem;
    max-width: var(--max-width);
    width: 100%;
    z-index: 2;
   
  }
  
  .description a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  
  .description p {
    position: relative;
    margin: 0;
    padding: 1rem;
    background-color: rgba(var(--callout-rgb), 0.5);
    border: 1px solid rgba(var(--callout-border-rgb), 0.3);
    border-radius: var(--border-radius);
  }
  
  .code {
    font-weight: 700;
    font-family: var(--font-mono);
  }
  .topDiv{
    width: 100vw;
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(180deg, #FFF 0%, #419C70 100%); */
   
  
  }
  .topDiv_photoDiv{
    width: 100vw;
    height: 95%;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
  }
  .photoDiv_photoFrame{
    position: relative;
    width: 90%;
    height: 95%;
    border: 1px solid black;
    border-radius: 40px;
    box-shadow: 0px 6px 10px;
    overflow: hidden;
   
  }
  
  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  /* @keyframes slideIn {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    50% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideOut {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    50% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(-100%);
      opacity: 0;
    }
  } */
  
  
  
  .show {
    animation: slideIn 2s infinite;
    opacity: 1;
    z-index: 2;
  }
  .next{
    animation: slideOut 2s infinite;
    opacity: 0;
    z-index: 1;
  }
  
  .hide {
    transform: translateX(-100%);
    opacity: 0;
    z-index: 0;
  }
  .photoFrame_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
   
    
   
  }
  .photoFrame_text{
    position: absolute;
    top: 86%;
    left: 5%;
    z-index: 1000;
    font-size: 2rem;
    color: black;
   
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    opacity: 0.6;
    
  }
  .carousel_nav{
    margin-top: 2rem;
    width: 100%;
    height: 10px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
  }
  .nav_dot{
    margin-left: 0.5rem;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    border: none;
  }
  .nav_dot_inactive{
    margin-left: 0.5rem;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255,0.2);
    border: none;
  }
  
  
  .dot.active {
    background-color: #717171;
  }
  .photoFrame_image:nth-child(1){
    animation-delay: 0s;
  }
  
  .infoDiv{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-family: 'Inter';
  }
  
  .infoDiv_header{
    margin-top: 2.5rem;
    font-family:"Inter";
    font-weight: normal;
    font-size: 2.9rem;
    font-weight: bold;
   
  }
  .infoDiv_spacer{
    margin-top: 0.9rem;
    width: 10%;
    height: 0.2rem;
    background-color: black;
  }
  .infoDiv_descriptionDiv{
    width: 70%;
    margin-top: 2.5rem;
    font-size: 1.6rem;
    font-weight: 200;
    line-height: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    
  }
  .infoDiv_highlightedtext{
    font-weight: bolder;
  }
  .infoDiv_paragraph{
    margin-top: 1.5rem;
  }

   .infoDiv_founderDiv{
    width: 70%;
  
    margin-top: 4rem;
    height: 30vh;
    display: flex;
    flex-direction: row;
   
    margin-bottom: 2rem;
    
  }

  .infoDiv_founderDiv_left{
    width: 24%;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
  }

  .infoDiv_founderDiv_right{
    display: flex;
    flex-direction: column;
    width: 76%;
    text-align: left;
    font-size: 1.6rem;
    padding-left: 2rem;
  

  }

  .founderDiv_image{
    width: 95%;
    height: 100%;
  
    
    border-radius: 10px;
  }

  .founderDiv_header{
    font-size: 2rem;
    font-weight: 500;
  }

  .founderDiv_description{
    margin-top: 1rem;
    line-height: 2.2rem;
    font-weight: 200;
  }

  .milestoneDiv{
    width: 100vw;
    height: 60vh;
    background-color: #419C70;
    display: flex;
    align-items: center;
    justify-content: center;
   
  }
  .milestoneDiv_body{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .milestoneDiv_left{
      height: 80%;
      display: flex;
      flex-direction: column;
     
      width: 40%;
   
  }
  
  .milestoneDiv_left_header{
    font-size: 4.2rem;
  }
  .milestoneDiv_left_subheader{
    margin-top: 0.8rem;
    font-size: 1.6rem;
  }
  
  .milestoneDiv_right{
    margin-left: 2.5rem;
    height: 80%;
    width: 60%;
   
   
  }
  .milestoneDiv_right_top{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
  }
  .milestoneDiv_right_bottom{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
  }
  
  .milestoneDiv_right_top_block{
    margin-top: 1rem;
   
  }
  .milestoneDiv_right_top_block_second{
    margin-top: 2rem;
    margin-left: 5rem;
    
  }
  .milestoneDiv_right_bottom_block{
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .milestoneDiv_right_bottom_block_second{
    margin-top: 1.5rem;
    margin-left: 5rem;
    margin-bottom: 1rem;
  }
  
  .block_top{
    display: flex;
    flex-direction: row;
  
    align-items: center;
   
  }
  .block_top_image{
    width: 5rem;
    height: 5rem;
  }
  .block_top_header{
    font-size: 2.5rem;
    margin-left: 0.5rem;
    font-weight: normal;
  }
  .block_top_description{
    margin-top: 0.65rem;
     font-size: 1.5rem;
    
  }
  .newsDiv{
    width: 100vw;
    height: 112vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
  }
  .newsDiv_top{
    margin-top: 2.5rem;
    font-size: 2rem;
  }
  .newsDiv_bottom{
    margin-top: 4rem;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
  }
  
  .newsDiv_block{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
   
    height: 40vh;
  }
  .newsDiv_block_second{
    margin-top: 4rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
   
    height: 40vh;
    background-color: white;
    
  }
  .newsDiv_block_left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
   
  }
  .newsDiv_block_left_top{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .newsDiv_block_header{
    font-size: 2rem;
    font-weight: normal;
  }
  
  .newsDiv_block_spacer{
    margin-top: 0.6rem;
    width: 40%;
    height: 0.2rem;
    background-color: #419C70;
  }
  .newsDiv_block_left_bottom{
    width: 90%;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 250;
  }
  
  .newsDiv_block_right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .newsDiv_block_right_photo{
    width: 95%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
   
    
  }
  .newsDiv_block_right_photo_image{
   width: 100%;
   height: 100%;
   border-top-right-radius: 40px;
   border-bottom-left-radius: 40px;
  }
  .newsDiv_block_second_left{
    margin-right: 2rem;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .newsDiv_block_second_left_photo{
    width: 95%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .newsDiv_block_second_left_photo_image{
    width: 100%;
    height: 100%;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }
  .newsDiv_block_second_right{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .newsDiv_block_second_right_top{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .newsDiv_block_second_right_bottom{
    width: 90%;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 250;
  }
  
  .volunteerDiv{
   
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
  }
  .volunteerDiv_spacer{
    margin-top: 2.5rem;
    width: 95%;
    height: 2rem;
   
    border-bottom: 2px solid black;
  }
  .volunteerDiv_top{
    margin-top: 2.5rem;
    font-size: 2rem;
  }
  .volunteerDiv_bottom{
    width: 100%;
    margin-top: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    
  }
  .volunteerDiv_bottom_div{
    width: 70%;
    height: 100%;
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
  }
  .volunteerDiv_card{
    width: 30%;
   
    display: flex;
    flex-direction: column;
    align-items: center;
   
    text-align: center;
   
    border-radius: 10px;
  }
  .volunteerDiv_card_top{
    margin-top: 1rem;
    height: 70%;
    
  }
  .volunteerDiv_card_header_first{
    margin-top: 1.6rem;
    color:#DC5B5A ;
  }
  .volunteerDiv_card_header_middle{
    margin-top: 1.6rem;
    color: #419C70;
  }
  .volunteerDiv_card_header_last{
    margin-top: 1.6rem;
  }
  .volunteerDiv_card_paragraph{
    margin-top: 1rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
  .volunteerDiv_card_bottom{
    margin-top: 2.8rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12%;
  }
  .volunteerDiv_card_button{
    border: 2px solid black;
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    
  }
  .volunteerDiv_card_button:hover{
    border: 2px solid #419C70;
    color: #419C70;
  }
  .volunteerDiv_card_button:first-child:hover{
    border: 2px solid #DC5B5A;
    color: #DC5B5A;
  }
  .volunteerDiv_card_button_text{
    font-weight: normal;
  }
  .footerDiv{
    margin-top: 4rem;
    width: 100%;
    height: 48vh;
    background-color: #419C70;
  }
  .footerContainer{
    margin-top: 2rem;
  }
 
}

@media screen and (max-width: 769px){ 
 .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  
    min-height: 100vh;
    min-width: 100vw;
    background-color: white;

  }

  .description {
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    font-size: 0.85rem;
    max-width: var(--max-width);
    width: 100%;
    z-index: 2;
  
  }

  .description a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .description p {
    position: relative;
    margin: 0;
    padding: 1rem;
    background-color: rgba(var(--callout-rgb), 0.5);
    border: 1px solid rgba(var(--callout-border-rgb), 0.3);
    border-radius: var(--border-radius);
  }

  .code {
    font-weight: 700;
    font-family: var(--font-mono);
  }
  .topDiv{
    
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    /* background: linear-gradient(180deg, #FFF 0%, #419C70 100%); */
  

  }
  .topDiv_photoDiv{
    width: 100vw;
    height: 95%;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
    
  }

  .photoDiv_photoFrame{
    position: relative;
    width: 100%;
    height: 95%;
   
    border-radius: 0px;
    box-shadow: 0px 6px 10px;
    overflow: hidden;
  
  }

  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  


  .show {
    animation: slideIn 2s infinite;
    opacity: 1;
    z-index: 2;
  }
  .next{
    animation: slideOut 2s infinite;
    opacity: 0;
    z-index: 1;
  }

  .hide {
    transform: translateX(-100%);
    opacity: 0;
    z-index: 0;
  }
  .photoFrame_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px;
  }

  .photoFrame_text{
    position: absolute;
    top: 86%;
    left: 5%;
    z-index: 1000;
    font-size: 2rem;
    color: black;
  
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    opacity: 0.6;
    
  }
  .carousel_nav{
    margin-top: 2rem;
    width: 100%;
    height: 10px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
  }
  .nav_dot{
    margin-left: 0.5rem;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    border: none;
  }
  .nav_dot_inactive{
    margin-left: 0.5rem;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255,0.2);
    border: none;
  }


  .dot.active {
    background-color: #717171;
  }
  .photoFrame_image:nth-child(1){
    animation-delay: 0s;
  }

  .infoDiv{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-family: 'Inter';
    text-align: center;
    padding-bottom: 2rem;
  }

  .infoDiv_header{
    margin-top: 2.5rem;
    font-family:"Inter";
    font-weight: normal;
    font-size: 2.9rem;
    font-weight: bold;
  
  }
  .infoDiv_spacer{
    margin-top: 0.9rem;
    width: 10%;
    height: 0.2rem;
    background-color: black;
  }
  .infoDiv_descriptionDiv{
    width: 90%;
    margin-top: 2.5rem;
    font-size: 1.6rem;
    font-weight: 200;
    line-height: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
  }

  .newsDiv_top{
    margin-top: 2.5rem;
    font-size: 2rem;
 
  }
  .newsDiv_top_header{
    font-weight: 500;
  }
 

  .infoDiv_founderDiv{
    width: 90%;
  
    margin-top: 4rem;
    height: 80vh;
    display: flex;
    flex-direction: column;
   
    
  }
  
  .infoDiv_founderDiv_left{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }


  

  .infoDiv_founderDiv_right{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    text-align: center;
    font-size: 1.6rem;
    padding-left: 0rem;

  }

  
  

  .founderDiv_image{
    width: 70%;
    height: 100%;
  
    border-radius: 10px;
  }
  .founderDiv_header{
    margin-top: 2rem;
    font-size: 1.6rem;
    font-weight: 400;
    
    
  }
  .founderDiv_description{
    margin-top: 1rem;
    font-weight: 200;
    line-height: 2.2rem;
    
  }
  .infoDiv_highlightedtext{
    font-weight: bolder;
  }
  .infoDiv_paragraph{
    margin-top: 1.5rem;
  }


  .milestoneDiv{
    width: 100vw;
    height: auto;
    background-color: #419C70;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  .milestoneDiv_body{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .milestoneDiv_left{
    height: 40%;
    display: flex;
    flex-direction: column;
  
    width: 90%;
   
  }
  .milestoneDiv_left_header{
    margin-top: 1rem;
    font-weight: 500;
    font-size: 2.8rem;
    text-align: center;
    
  }
  .milestoneDiv_left_subheader{
    margin-top: 0.8rem;
    font-size: 1.4rem;
    text-align: center;
  }
  .milestoneDiv_right{
    margin-left: 0rem;
    height: 50%;
    width: 90%;
    margin-bottom: 1rem;
   
  
  }
  .block_top{
    display: flex;
    flex-direction: column;
   
 

    align-items: center;
  
  }
  .block_top_header{
    margin-top: 1rem;
    font-size: 2.5rem;
    margin-left: 0rem;
    font-weight: normal;
  }

  .milestoneDiv_right_top{
    margin-top: 2rem;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
   
  }

  .milestoneDiv_right_top_block{
    margin-top: 1rem;
  
  }
  .milestoneDiv_right_top_block_second{
    margin-top: 2rem;
    margin-left: 0rem;
    
  }

  .block_top_image{
    width: 10rem;
    height: 10rem;
  }

  .block_top_description{
    margin-top: 0.65rem;
    font-size: 2rem;
    width: 100%;
   
  }

  .milestoneDiv_right_bottom{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  
  }

  .milestoneDiv_right_bottom_block_second{
    margin-top: 1.5rem;
    margin-left: 0rem;
    margin-bottom: 1rem;
  }

  .newsDiv{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    text-align: center;
  }

  .newsDiv_bottom{
    margin-top: 4rem;
    height: 140vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .newsDiv_block{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  
    height: 50%;
   
    border-radius: 12px;
    border: 1px solid black;
  }
    .newsDiv_block_second{
    margin-top: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    height: 50%;
    background-color: white;
    border: 1px solid black;
    border-radius: 12px;
    
  }
  .newsDiv_block_left{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 0rem;
   
  
  }
  .newsDiv_block_left_top{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .newsDiv_block_header{
    font-size: 2rem;
    font-weight: normal;
  }

  .newsDiv_block_spacer{
    margin-top: 0.6rem;
    width: 40%;
    height: 0.2rem;
    background-color: #419C70;
  }
  .newsDiv_block_left_bottom{
    width: 90%;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 250;
  }

  .newsDiv_block_right{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .newsDiv_block_right_photo{
    width: 95%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
  
    
  }
  .newsDiv_block_right_photo_image{
  width: 100%;
  height: 100%;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  }
  .newsDiv_block_second_left{
    margin-right: 0rem;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .newsDiv_block_second_left_photo{
    width: 95%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .newsDiv_block_second_left_photo_image{
    width: 100%;
    height: 100%;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }
  .newsDiv_block_second_right{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .newsDiv_block_second_right_top{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .newsDiv_block_second_right_bottom{
    width: 90%;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 250;
  }

  .volunteerDiv{
  
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    margin-top: 2rem;
  
  }
  .volunteerDiv_spacer{
    margin-top: 2.5rem;
    width: 95%;
   
  
    border: 1px solid black;
  }
  .volunteerDiv_top{
    margin-top: 2.5rem;
    font-size: 2rem;
    text-align: center;
  }
  .volunteerDiv_top_header{
    font-weight: 500;
  }
  .volunteerDiv_bottom{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200vh;
   
   
   
    
  }
  .volunteerDiv_bottom_div{
    width: 90%;
    height: 100%;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  
  }
  .volunteerDiv_card{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    text-align: center;
  
    border-radius: 12px;
    border: 1px solid black;
    margin-bottom: 2rem;
  }
  .volunteerDiv_card_top{
    margin-top: 1rem;
    width: 100%;
    height: 70%;
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  .volunteerDiv_card_header_first{
    margin-top: 1.6rem;
    font-size: 2rem;
    font-weight: 500;
    color:#DC5B5A ;
  }
  .volunteerDiv_card_header_middle{
    margin-top: 1.6rem;
    color: #419C70;
    font-size: 2rem;
    font-weight: 500;
  }
  .volunteerDiv_card_header_last{
    margin-top: 1.6rem;
    font-size: 2rem;
    font-weight: 500;
  }
  .volunteerDiv_card_paragraph{
    margin-top: 1.5rem;
    font-size: 1.6rem;
    line-height: 1.8rem;
  }
  .volunteerDiv_card_bottom{
    margin-top: 2.8rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
   
  }
  .volunteerDiv_card_button{
    border: 2px solid black;
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    
  }
  .volunteerDiv_card_button:hover{
    border: 2px solid #419C70;
    color: #419C70;
  }
  .volunteerDiv_card_button:first-child:hover{
    border: 2px solid #DC5B5A;
    color: #DC5B5A;
  }
  .volunteerDiv_card_button_text{
    font-weight: normal;
    font-size: 1.5rem;
  }
  .footerDiv{
    margin-top: 4rem;
    width: 100%;
    height: 48vh;
    background-color: #419C70;
  }
  .footerContainer{
    margin-top: auto;
  }
}

  