
@media screen and (min-width: 769px) {
    .mainnav{
        background-color: transparent;
        width: 100vw;
    }
    .mainnav ul{
      background-color: none;
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px; /* Add padding or adjust as needed */
      
    
    }
    
  .logoContainer {
    display: flex;
    align-items: center; 
  }
    .mainnav li{
     
     
      margin: 10px ;
     
      font-weight: bold;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      list-style: none;
     
     
    }
    .navbar_body{
        width: 92%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      
    }
    .logoimage{
     margin-left: 10px;
     
    }
    .logoname{
      margin-left: 10px;
      font-family: "Inter";
      
     font-size: 2.2rem;
    }
    .signupdiv{
      justify-content: center;
      align-items: center;
      display: flex;
     
   
      font-family: "Inter";
      font-size: 1.4rem;
      
      width: 150px;
    
      cursor: pointer;
      height: 2.8rem;
     
    }
    .signupdiv_active{
      justify-content: center;
      align-items: center;
      display: flex;
     
   
      font-family: "Inter";
      font-size: 1.4rem;
      
      width: 150px;
    
      cursor: pointer;
      height: 2.8rem;
      border-bottom: 2px solid black;
    }
    .signupdiv:hover{
      border-bottom: 1px solid black;
    }
    .signuptext{
      margin-left: 10px;
      margin-right: 5px;
      font-size: 1.2rem;
    }
   
  
    .signupimage{
      margin-right: 10px;
      margin-left: 5px;
      border-radius: 50px;
    }
    .pageContainer{
        display: flex;
        flex-direction: row;
    }
   
  }
  @media screen and (max-width: 768px) {
    .mainnav{
      width: 100vw;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background-color: rgb(0, 0, 0,0.8);
     
     
    }
    .mainnav ul{
      background: transparent;
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-between; 
      width: 100%;
      padding: 10px; /* Add padding or adjust as needed */
      height: 100%;
 
    
    }
    .navbar_body{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
    
    }
    
  .logoContainer {
    display: flex;
    align-items: center; 
  }
  .moreButton{
    margin-left: 10px;
    border: 1px solid white;
    width: 25px;
    height: 25px;
  }
    .mainnav li{
     
     
      margin: 10px ;
     
      font-weight: bold;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      list-style: none;
      
    }
    .logoimage{
     margin-left: 10px;
     height: 50px;
     width: 50px;
     
    }
    .logoname{
      margin-left: 10px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: bold;
      font-size: 30px;
      font-weight: 400;
    }
    
   

    .closeButton{
      width: 10%;
      border: none;
      background: none;
    }

    .pageContainer_Mobile{
      width: 100%;
      height: 40vh;
      background-color: rgb(0, 0, 0,0.8);
      filter: blur(8);
      display: flex;
      flex-direction: column;
      padding-left: 1rem;
      z-index: 1000;
      position: absolute;
      
    
    }
    .page_link{
      font-size: 1.5rem;
      margin-top: 1.5rem;
      color: white;
    }
   
  
  
  }

 
  
  